<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
  <header class="mdl-layout__header mdl-layout--small-screen-only">

    <div class="mdl-layout__header-row">

      <span class="mdl-layout-title">
                    <a href="#">Sagar Chopada</a>
                </span>
      <div class="mdl-layout-spacer"></div>

      <nav class="mdl-navigation">
        <a [routerLink]="['/home']" class="mdl-navigation__link posts">Posts</a>
        <a [routerLink]="['/about']" class="mdl-navigation__link about-me">About Me</a>
        <a [routerLink]="['/hire']" class="mdl-navigation__link hire-me">Hire Me</a>
        <a [routerLink]="['/resume']" class="mdl-navigation__link resume">Resumé</a>
      </nav>
    </div>

  </header>

  <div class="mdl-layout__drawer mdl-layout--large-screen-only">

    <span class="mdl-layout-title">
            <a href="#">Sagar Chopada</a>
      </span>
    <div class="subtitle">Angular + TypeScript Developer in Gujarat, In</div>

    <nav class="mdl-navigation">
        <a [routerLink]="['/home']" class="mdl-navigation__link posts">Posts</a>
        <a [routerLink]="['/about']" class="mdl-navigation__link about-me">About Me</a>
        <a [routerLink]="['/hire']" class="mdl-navigation__link hire-me">Hire Me</a>
        <a [routerLink]="['/resume']" class="mdl-navigation__link resume">Resumé</a>
      </nav>

    <div class="social">
      <ul>
        <li>
          <a href="#" class="rss">
            <i class="fa fa-rss"></i>
          </a>
        </li>

        <li>
          <a href="#" class="linkedin">
            <i class="fa fa-linkedin"></i>
          </a>
        </li>

        <li>
          <a href="#" class="facebook">
            <i class="fa fa-facebook-official"></i>
          </a>
        </li>

        <li>
          <a href="#" class="twitter">
            <i class="fa fa-twitter"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>