<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
  <main class="mdl-layout__content">
    <main class="page">

      <div class="banner" style="background-image: url('assets/img/gujarat.jpg')"></div>

      <div class="card-wrapper">
        <div class="mdl-card">
          <div class="mdl-card__title">
            <h1 class="mdl-card__title-text">About Me</h1>
          </div>

          <div class="divider"></div>
          <div class="content">
            <ul>
              <li>Live in Gujarat, IN</li>
              <li>Sr. Web Developer cum Team Leader at TechHive, IN.</li>
              <li>MCA in Computer Science</li>
              <li>Bachelor of Computer Applications</li>
            </ul>

            <p>I have been building web applications since 16, and haven’t stopped since. I am focused on using the latest technologies
              with proven coding methodologies to create sophisticated and elegant software.
            </p>

            <blockquote>
              <p>I strongly believe the internet will always serve as a medium of communication, interaction and learning. Creating
                internet applications that enhance these goals with the adaptability for any device will succeed through
                providing value for businesses, organizations and people.
              </p>
            </blockquote>

            <h2 id="things-to-learn">Things to Learn</h2>

            <p>I love learning new things. Here are some things on my list:</p>

            <ul>
              <li>
                <a href="#/">Falcor</a>
              </li>

              <li>
                <a href="#">GraphQL</a>
              </li>

              <li>
                <a href="#">Koa</a>
              </li>
            </ul>

            <h2 id="skiing">Skiing</h2>

            <p>My favorite sport and hobby is skiing.</p>

            <ul>
              <li>Austria
                <ul>
                  <li>SkiWelt in the Kitzbühel Alps</li>
                  <li>HochZeiger, Pitztal</li>
                </ul>
              </li>
              <li>Colorado, USA
                <ul>
                  <li>Arapahoe Basin</li>
                  <li>Beaver Creek</li>
                  <li>Breckenridge</li>
                  <li>Copper Mt</li>
                  <li>Crested Butte</li>
                  <li>Keystone</li>
                  <li>Vail</li>
                </ul>
              </li>
              <li>New York, USA
                <ul>
                  <li>Bristol</li>
                  <li>Gore</li>
                  <li>Greek Peak</li>
                  <li>Toggenburg</li>
                  <li>Whiteface</li>
                </ul>
              </li>
              <li>Utah, USA
                <ul>
                  <li>Alta Ski Area</li>
                  <li>Snowbasin</li>
                  <li>Snowbird</li>
                </ul>
              </li>
              <li>Quebec, Canada
                <ul>
                  <li>Mont Tremblant</li>
                </ul>
              </li>
              <li>Vermont, USA
                <ul>
                  <li>Jay Peak</li>
                  <li>Killington</li>
                  <li>Stowe</li>
                  <li>Smugger’s Notch</li>
                </ul>
              </li>
            </ul>

            <!--<iframe src="//www.google.com/maps/d/embed?mid=zBOqjJEoaGZk.kvt6UUPYlaZw" width="100%" height="480"></iframe>-->
            <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d14880.142289432659!2d72.798359!3d21.1907458!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1492079083013"
              width="100%" height="480" frameborder="0" style="border:0" allowfullscreen></iframe>

            <h2 id="travel">Travel</h2>

            <p>From 2013-2014 my wife Bonnie and I lived abroad. You can read about our adventures on our blog
              <a title="Adventures of Brian and Bonnie" href="codapp.com">codapp.com</a>.</p>

            <!--<iframe src="//www.google.com/maps/d/embed?mid=zBOqjJEoaGZk.kUUeCKdxYfEY" width="100%" height="480"></iframe>-->
            <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d14880.142289432659!2d72.798359!3d21.1907458!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1492079083013"
              width="100%" height="480" frameborder="0" style="border:0" allowfullscreen></iframe>

          </div>
        </div>
      </div>
    </main>

    <footer class="mdl-mini-footer mdl-layout--small-screen-only">

      <div class="copyright">
        &copy; 2017 Sagar Chopada -Hardik Chopada
      </div>

      <ul class="mdl-mini-footer__link-list">
        <li>
          <a href="#" class="linkedin">
            <i class="fa fa-linkedin"></i>
          </a>
        </li>

        <li>
          <a href="#" class="facebook">
            <i class="fa fa-facebook-official"></i>
          </a>
        </li>

        <li>
          <a href="#" class="twitter">
            <i class="fa fa-twitter"></i>
          </a>
        </li>
      </ul>

    </footer>

    <!--Device detection elements-->
    <div class="device-xs visible-xs"></div>
    <div class="device-sm visible-sm"></div>
    <div class="device-md visible-md"></div>
    <div class="device-lg visible-lg"></div>



    <script>
      (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
          (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date(); a = s.createElement(o),
          m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
      })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

      ga('create', 'UA-35377591-1', 'auto');
      ga('send', 'pageview');
    </script>

  </main>
</div>